<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Figma Visual Testing Suite" parallel="false" verbose="1">
    
    <listeners>
        <listener class-name="com.bajajfinserv.listeners.TestListener"/>
    </listeners>
    
    <test name="Figma vs Website Comparison Tests" preserve-order="true">
        <classes>
            <class name="com.bajajfinserv.tests.FigmaComparisonTest"/>
        </classes>
    </test>
    
</suite>
